<head>
  
<script>
$(document).ready(function(){
  
    $("tr").hide();
    $("tr").show(1000);
    $("tr").slideDown(1000);
  
});
</script>
<h1>All Registered user's posts</h1>

<%= render 'form' %>
<div id="post">
<table id="thetable" cellspacing="0", class = "table table-striped">
  <tr> 
    <th>Title</th>
    <th>Body</th>
    <th>User_Name</th>
    <th>User_Email</th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => "post", :collection => @posts %>
</table>
</div>



 

<%= link_to 'Home page', root_path %>
